/* Styles for the outer container of the slider */
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the heading text */
.heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

/* Styles for the inner container of the slider */
.inner-container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for the Swiper container */
.swiper-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 400px;
}

/* Styles for the image container within each slide */
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the images within the image container */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles for the text overlay on the images */
.text-overlay {
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0px;
  width: 100%;
  /* opacity: rgba(25, 25, 25, 0.6); */
}

/* Styles for the container holding navigation and pagination controls */
.swiper-navigation-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Styles for the navigation controls */
.swiper-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the previous and next buttons */
.swiper-button-prev,
.swiper-button-next {
  /* padding: 0 210px; */
  cursor: pointer;
  display: inline-block;
  transition: color 0.3s;
  /* border-radius: 50%;
  border-color: darkgray;
  top: 385px; */
}

/* Hover effect for the previous and next buttons */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: blue;
}

/* Styles for the pagination controls */
.swiper-pagination {
  /* display: flex;
  justify-content: center; */
  display: inline-block;
  margin: 0 auto;
}

/* .swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
   z-index: 10;
  position: static;
  display: inline-block; 
} */

/* Styles for the active pagination bullet */
.swiper-pagination-bullet-active {
  background-color: blue !important;
}

/* Global styles for the HTML document */
html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

/* Styles for a container with a maximum width */
.container {
  max-width: 600px;
  margin: auto;
}

/* Root-level CSS variables for Swiper customization */
:root {
  --swiper-pagination-bullet-size: 20px;
  --swiper-navigation-size: 50px;
  --swiper-pagination-bottom: 0px;
  --swiper-theme-color: #fff;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
}
